---
import MosaicButton from "../components/MosaicButton";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<main class="h-screen w-screen flex flex-col bg-neutral-950 overflow-hidden">
		<MosaicButton 
			client:load 
			title="Claude" 
			subtitle="Manage Subscription" 
			href="https://claude.ai/settings/billing" 
			iconName="Claude"
			bgColorClass="bg-gradient-to-br from-[#cc5a38] to-[#e88b6f]"
			client:only="react"
		/>
		<MosaicButton 
			client:load 
			title="ChatGPT" 
			subtitle="Manage Subscription" 
			href="https://chatgpt.com/#settings/Account" 
			iconName="OpenAI"
			bgColorClass="bg-gradient-to-br from-[#0f8a6b] to-[#55cbb0]"
			client:only="react"
		/>
		<MosaicButton 
			client:load 
			title="Gemini" 
			subtitle="Manage Subscription" 
			href="https://one.google.com/settings" 
			iconName="Gemini"
			bgColorClass="bg-gradient-to-br from-[#2d5af5] to-[#8c52ff]"
			client:only="react"
		/>
	</main>
</Layout>
